.product-list-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  //   max-width: 900px;
}

.product-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //   width: 200px;
  //   height: 300px;
}

.product-image-container {
  height: 100px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  padding: 0.75rem;
}

.product-title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.product-description {
  color: #666;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.product-price {
  font-weight: bold;
  font-size: 0.75rem;
}
