<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo and Title -->
    <div class="logo-title">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/home">
          <img src="assets/logo.png" alt="Logo" />
        </a>
      </div>

      <!-- Title -->
      <div class="shop-title">
        <a routerLink="/home">Shop with Jana</a>
      </div>
    </div>

    <!-- Links -->
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li (click)="toggleCategoriesDropdown()">
        <a
          href="javascript:void(0)"
          [attr.aria-expanded]="categoriesDropdownVisible ? 'true' : 'false'"
        >
          Categories
        </a>
      </li>
    </ul>

    <!-- Search -->
    <div class="search-container">
      <input
        type="text"
        placeholder="Search..."
        [formControl]="searchControl"
      />
      <ul *ngIf="searchResults.length > 0" class="search-results">
        <li *ngFor="let result of searchResults">{{ result.name }}</li>
      </ul>
    </div>

    <!-- Cart Icon -->
    <div class="cart-icon" (click)="goToCart()">
      <img src="assets/cart.png" alt="Cart Icon" />
      <!-- Display the cart count if user is logged in and cartItemsCount$ > 0 -->
      <span class="cart-count" *ngIf="(isLoggedIn$ | async) && (cartItemsCount$ | async) as cartItemsCount">
        {{ cartItemsCount > 0 ? cartItemsCount : '' }}
      </span>
    </div>

    <!-- Wishlist Icon -->
    <div class="wishlist-icon" (click)="goToWishlist()">
      <img src="assets/wishlist.png" alt="Wishlist Icon" />
      <!-- Display the wishlist count if user is logged in and wishlistItemsCount$ > 0 -->
      <span class="wishlist-count" *ngIf="(isLoggedIn$ | async) && (wishlistItemsCount$ | async) as wishlistItemsCount">
        {{ wishlistItemsCount > 0 ? wishlistItemsCount : '' }}
      </span>
    </div>

    <!-- Profile Icon -->
    <div class="profile-icon">
      <ng-container *ngIf="(isLoggedIn$ | async) && (user$ | async); else guestLinks">
        <a [routerLink]="['/account']">
          <img
            src="assets/profile-icon.png"
            alt="Profile Icon"
            class="account-logo"
          />
          <span>Account</span>
        </a>
      </ng-container>

      <ng-template #guestLinks>
        <a routerLink="/login">Log In</a>
        <a routerLink="/signup">Sign Up</a>
      </ng-template>
    </div>
  </div>

  <!-- Categories Dropdown -->
  <div class="categories-dropdown" *ngIf="categoriesDropdownVisible">
    <ul>
      <li *ngFor="let category of categories">
        <a (click)="onCategorySelect(category)">{{ category }}</a>
      </li>
    </ul>
  </div>
</nav>
