<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>

    <!-- Links -->
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li (click)="toggleCategoriesDropdown()"><a>Categories</a></li>
    </ul>

    <!-- Search -->
    <div class="search-container">
      <input
        type="text"
        placeholder="Search..."
        [formControl]="searchControl"
      />
      <ul *ngIf="searchResults.length > 0" class="search-results">
        <li *ngFor="let result of searchResults">{{ result.name }}</li>
      </ul>
    </div>

    <!-- Cart Icon -->
    <div class="cart-icon" (click)="goToCart()">
      <img src="assets/cart.png" alt="Cart Icon" />
      <!-- <span class="cart-count">{{ cartItemCount }}</span> -->
    </div>

    <!-- Wishlist Icon -->
    <div class="wishlist-icon" (click)="goToWishlist()">
      <img src="assets/wishlist.png" alt="Wishlist Icon" />
      <!-- <span class="wishlist-count">{{ wishlistItemCount }}</span> -->
    </div>

    <!-- Profile Icon -->
    <div class="profile-icon">
      <ng-container *ngIf="isLoggedIn; else guestLinks">
        <a [routerLink]="['/account']">
          <img
            src="assets/profile-icon.png"
            alt="Profile Icon"
            class="account-logo"
          />
          <span>Account</span>
        </a>
      </ng-container>

      <ng-template #guestLinks>
        <a routerLink="/login">Log In</a>
        <a routerLink="/signup">Sign Up</a>
      </ng-template>
    </div>
  </div>

  <!-- Categories Dropdown -->
  <div class="categories-dropdown" *ngIf="categoriesDropdownVisible">
    <ul>
      <li *ngFor="let category of categories">
        <a (click)="onCategorySelect(category)">{{ category }}</a>
      </li>
    </ul>
  </div>
</nav>
